@font-face {
    font-family: 'AmericanTypewriter';
    src: url('AmericanTypewriterMedium.eot');
    src: url('AmericanTypewriterMedium.eot?#iefix') format('embedded-opentype'),
        url('AmericanTypewriterMedium.woff2') format('woff2'),
        url('AmericanTypewriterMedium.woff') format('woff'),
        url('AmericanTypewriterMedium.ttf') format('truetype'),
        url('AmericanTypewriterMedium.svg#AmericanTypewriterMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ABeeZeeItalic';
    src: url('abeezee.italic-webfont.woff2') format('woff2'),
         url('abeezee.italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ABeeZee';
    src: url('abeezee.regular-webfont.woff2') format('woff2'),
         url('abeezee.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'BlueHighwayBold';
    src: url('bluebold-webfont.woff2') format('woff2'),
         url('bluebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BlueHighwayCondensedRegular';
    src: url('bluecond-webfont.woff2') format('woff2'),
         url('bluecond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BlueHighway';
    src: url('bluehigh-webfont.woff2') format('woff2'),
         url('bluehigh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}